.nav1
{
    background-color:black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-family: Copperplate Gothic;
    font-size: x-large;
}
